body {
    background-color: azure;
}

#name {
    display: flex;
    flex-direction: row;
  }
  h1:before, h1:after{
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
  }
  h1:before {
    margin-right: 10px
  }
  h1:after {
    margin-left: 10px
  }

  #qoute {
      text-align-last: center;
      font-style: italic;
  }
  #author {
    text-align-last: center;   
  }

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;    
  }


  body {padding-left: 25px;
padding-right: 25px;
padding-top: 15px;
padding-bottom: 50px;
}

#table 
{
    text-align: left;
}

#check 
{
    padding-left: 150px;
}


span.humble  { 
    font: 1em sans-serif;
    font-stretch: expanded;
    color: crimson;
}



  
  
  #a {
      margin-left: auto;
      margin-right: auto;
    text-align: center;
    font-size: x-large;
    background-color: #f1f1f1;
    color: black;}
